.textarea textarea{
    padding: 7px;
    font-size: 1.1rem;
    height: 400px;
    width: 370px;
    overflow-y: auto;
    color: #000;
    font-weight: bold;
    resize: none;
    margin-bottom: 20px;
    outline: none;
}