*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
}

body{
  background: #1d1c1c;
}

a{
  text-decoration: none;
}

input{
  outline: none;
}